{{#if  img3}}
<div class="photo-container trio">
    <img class="item photo1 trio photo-click" data-original="/content/images/{{img1}}" src="/content/images/min/{{img1}}"/>
    <img class="item photo2 trio photo-click" data-original="/content/images/{{img2}}" src="/content/images/min/{{img2}}"/>
    <img class="item photo3 trio photo-click" data-original="/content/images/{{img3}}" src="/content/images/min/{{img3}}"/>
</div>
{{else}}
    {{#if  img2}}
    <div class="photo-container duo">
        <img class="item photo1 duo photo-click" data-original="/content/images/{{img1}}" src="/content/images/min/{{img1}}"/>
        <img class="item photo2 duo photo-click" data-original="/content/images/{{img2}}" src="/content/images/min/{{img2}}"/>
    </div>
    {{else}}
        {{#if  img1}}
        <div class="photo-container solo">
            <img class="item photo1 solo photo-click" data-original="/content/images/{{img1}}" src="/content/images/min/{{img1}}"/>
        </div>
        {{/if}}
    {{/if}}
{{/if}}
